Repository mixxxdj/website, pull requests merged in 2020-07, with the labels that each got.

#112 Improve video display on small screens
  static/css/custom.css
  templates/video.html
Labels: enhancement

#109 Move old "Whats New in Mixxx" pages into blog
  pages/news/2013-02-18-whats-new-in-mixxx-1-11.html
  pages/news/2015-12-19-whats-new-in-mixxx-2-0.html
  pages/news/2015-12-30-announcing-mixxx-2-0.html
  plugins/news.py
Labels: enhancement, news

#98 Build and deploy site on Netlify
  _redirects
  config.de-DE.json
  config.de.json
  config.json
  netlify.sh
  netlify.toml
  templates/footer.html
Labels: maintenance

#111 plugins/news: Add support for multiple post authors
  pages/news.html
  plugins/news.py
  templates/post.html
Labels: enhancement

#123 Fix insecure mixed content
  pages/news/2007-10-26-mixxx-featured-on-the-lab-with-leo-laporte.html
  pages/news/2007-12-03-quick-vinyl-control-video-sse-optimizations.html
  pages/news/2008-02-26-more-mixxx-videos.html
  pages/news/2008-04-28-scratching-with-mixxx-1-6-0.html
  pages/news/2008-09-24-updated-mixman-dm2-driver-for-os-x.html
  pages/news/2008-11-12-mixxx-gsoc-mentor-summit.html
  pages/news/2009-02-09-midi-scripting-and-the-stanton-scs-3d-videos.html
  pages/news/2009-02-19-hercules-releases-gpl-linux-midi-drivers-mixxx-1-6-1-herc-is-released.html
  pages/news/2009-06-19-mixxx-with-stanton-scs3d-and-scs1m.html
  pages/news/2009-08-01-scratching-with-mixxx.html
  pages/news/2009-12-23-mixxx-18-preview.html
  pages/news/2010-06-27-turning-mixxx-blog-into-blog.html
  pages/news/2010-07-12-drag-and-drop-downloads-and-scs-3d-videos.html
  pages/news/2010-10-05-mixxx-180-released.html
  pages/news/2010-10-18-mixxx-1-8-1-released.html
  pages/news/2010-11-17-mixxx-t-shirt-contest-until-dec-15.html
  pages/news/2010-12-06-mixxx-190-beta1-and-182-released.html
  pages/news/2010-12-10-beyond-mixxx-1-8.html
  pages/news/2011-02-20-mixxx-19-now-available-in-mac-app-store.html
  pages/news/2011-05-24-mixxx-in-your-language.html
  pages/news/2011-11-06-mixxx-1-10-0-beta-and-mixxx-1-9-2-released.html
  pages/news/2011-12-24-mixxx-1-10-0-released.html
  pages/news/2012-06-30-mixxx-1-10-1-released.html
  pages/news/2013-05-09-mixxx-1-11-0-is-here.html
  pages/news/2015-04-29-mixxx-1-12-beta-released.html
  pages/news/2015-12-05-surprise-release-candidate-1.html
  pages/news/2015-12-30-announcing-mixxx-2-0.html
  pages/news/2018-04-16-mixxx-2-1-0-has-arrived.html
Labels: maintenance

#92 intro & outro cues blog post
  pages/news/2020-07-09-intro-outro-sections.html
  static/images/news/intro-outro/autodj-align-ends.png
  static/images/news/intro-outro/autodj-align-starts.png
  static/images/news/intro-outro/autodj-fade-at-outro-start.png
  static/images/news/intro-outro/ends-aligned-decks.png
  static/images/news/intro-outro/ends-aligned-waveforms.png
  static/images/news/intro-outro/intro-outro-aligned.png
  static/images/news/intro-outro/intro-outro-full.png
  static/images/news/intro-outro/intro-start-outro-end.png
  static/images/news/intro-outro/outro-right-click.png
  static/images/news/intro-outro/starts-aligned-waveforms.png
Labels: news

#80 New in 2.3: Add CMake post
  pages/news/2020-07-15-new-in-2-3-cmake.html
Labels: news

#88 New in 2.3: Add Rekordbox post
  pages/news/2020-XX-XX-new-in-2-3-rekordbox-support.html
  plugins/news.py
  static/images/news/IMG_4627.JPG
  static/images/news/mixxx-rekordbox-usb-beatgrid.png
  static/images/news/mixxx-rekordbox-usb.png
  static/images/news/rekordbox-6-usb.png
Labels: news

#125 New in 2.3: Rekordbox removable library
  pages/news/2020-07-20-new-in-2-3-rekordbox-support.html
  plugins/news.py
  static/images/news/IMG_4627.JPG
  static/images/news/mixxx-rekordbox-usb-beatgrid.png
  static/images/news/mixxx-rekordbox-usb.png
  static/images/news/rekordbox-6-usb.png
Labels: news

#134 static/images/2.3/screenshots: Update screenshots for upcoming 2.3 release
  static/images/2.3/screenshots/deere-3840x2160.png
  static/images/2.3/screenshots/deere-640x480.png
  static/images/2.3/screenshots/latenight-classic-3840x2160.png
  static/images/2.3/screenshots/latenight-classic-640x480.png
  static/images/2.3/screenshots/latenight-palemoon-3840x2160.png
  static/images/2.3/screenshots/latenight-palemoon-640x480.png
  static/images/2.3/screenshots/shade-classic-3840x2160.png
  static/images/2.3/screenshots/shade-classic-640x480.png
  static/images/2.3/screenshots/shade-dark-3840x2160.png
  static/images/2.3/screenshots/shade-dark-640x480.png
  static/images/2.3/screenshots/shade-summersunset-3840x2160.png
  static/images/2.3/screenshots/shade-summersunset-640x480.png
  static/images/2.3/screenshots/tango-3840x2160.png
  static/images/2.3/screenshots/tango-640x480.png
Labels: maintenance
